nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href="/")= config.title
    if user
    //form.navbar-form.navbar-left
    //  .form-group
    //    input.form-control(type="text", placeholder="Suche", disabled)
      ul.nav.navbar-nav
        li
          a(href="/") Themen
    ul.nav.navbar-nav.navbar-right
      if user
        li
          a(href="/settings") Einstellungen
        li
          a(href="/logout") Logout
      else
        li
          a(href="/login") Login
