extends layout

block content
  .page-header
    h1 Topic&nbsp;
      a.btn.btn-success(href="/thread/new") New
  each thread in threads
    h1
      a(href="/thread/#{thread._id}")= thread.topic
      small  #{thread.creator.displayName || thread.creator.username},
        | #{moment(thread.created).format('YYYY-MM-DD')}
