extends layout

block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/thread/new") Neues Thema
    a(href="/logout") Logout
    h2 Themen
    each thread in threads
      h1
        a(href="/thread/#{thread._id}")= thread.topic
        small= thread.creator.username
        small= thread.created
