extends layout

block content
  .page-header
    h1 Themen
  each thread in threads
    h1
      a(href="/thread/#{thread._id}")= thread.topic
      small  von #{thread.creator.displayName || thread.creator.username} am #{moment(thread.created).format('DD.MM.YY')}
