extends layout

block content
  .page-header
    h1 Login
  form.col-md-6.form-horizontal(action="/login", method="post")
    .form-group
      label.control-label.col-sm-3(for="username") Benutzername
      .col-sm-9
        input.form-control(type="text", name="username", id="username", placeholder="Name", required, autofocus)
    .form-group
      label.control-label.col-sm-3(for="password") Passwort
      .col-sm-9
        input.form-control(type="password", name="password", id="password", placeholder="Passwort", required)
    input.btn.btn-default(type="submit", value="Login")
