extends layout

block content
  if !err
    .page-header
      h1 Register
    form.col-md-6.form-horizontal(action="/register", method="post")
      .form-group
        label.control-label.col-sm-3(for="username") Username
        .col-sm-9
          input.form-control(type="text", name="username", id="username", placeholder="Username", required, autofocus)
      .form-group
        label.control-label.col-sm-3(for="password") Password
        .col-sm-9
          input.form-control(type="password", name="password", id="password", placeholder="Password", required)
      input.btn.btn-default(type="submit", value="Register")
