extends layout

block content
  .page-header
    h1 Einstellungen
      small  #{user.username}
  form.col-md-6.form-horizontal(action="/settings", method="post")
    .form-group
      label.control-label.col-sm-3(for="displayname") Anzeigename
      .col-sm-9
        input.form-control(type="text", name="displayname", id="displayname", placeholder="Name")
    .form-group
      label.control-label.col-sm-3(for="picture") Profilbild:
      .col-sm-9
        input(type="file", name="picture")
    input.btn.btn-default(type="submit", value="Speichern")
