@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic|PT+Serif);

/* General */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  box-sizing: boder-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.4em;
}

input, textarea {
  padding: 8px;
  display: block;
  font: inherit;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, .05);
  background: rgba(0, 0, 0, .01);
  outline: none;
}
  input:focus,
  textarea:focus {
    background: #fff;
  }

.button {
  background: #FF851B;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 9px; /* 1px more than input to compensate missing border */
}
  .button:hover,
  .button:focus {
    background: #FFA352;
  }

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.pull-left { float: left; }
.pull-right { float: right; }

/* Header */
header {
  width: 960px;
  margin: 0 auto;
}
  header a {
    text-decoration: none;
  }
  header h1 {
    float: left;
    padding: 6px 0;
    margin: 0;
    font-size: 4rem;
    font-family: 'PT Serif' serif;
  }
    header h1 a {
      color: #111;
      padding: 8px;
    }
  header nav {
    float: right;
    background: #111;
    color: #fff;
  }
    header nav li {
      font-size: 1rem;
      float: left;
      list-style: none;
      padding: 11px 0;
    }
    header nav a {
      padding: 12px;
      color: #fff;
    }
      header nav a:hover,
      header nav a.active {
        background: #333;
      }
      header nav a.add {
        background: #FF851B;
      }
        header nav a.add:hover,
        header nav a.add.active {
          background: #FFA352;
        }

/* Main */
main {
  width: 960px;
  margin: 16px auto;
}

/* Login page */
.login form {
  max-width: 192px;
}
  .login form input:not(.button) {
    width: 100%;
  }
  .login form .password {
    border-top: 0;
  }
  .login form .button {
    width: 100%;
  }
