{{set . "title" "Thread"}}
{{set . "class" "thread"}}
{{template "header.html" .}}

{{.flash.error}}

<h1>{{.thread.Topic}}
  <span> {{.thread.User.Name}} on {{.thread.Created}}</span>
</h1>
{{if not .posts}}
<p>No posts yet</p>
{{else}}
  {{range .posts}}
    <div class="post">
      <p><strong>{{.User.Name}}</strong> wrote:</p>
      <p>{{raw .Body}}</p>
    </div>
  {{end}}
{{end}}

<div class="new clearfix">
  <form method="POST" action="/threads/{{.thread.ThreadId}}/post">
    <textarea name="body" placeholder="Your message"></textarea>
    <input type="submit" value="Post" class="button pull-right">
  </form>
</div>

{{template "footer.html" .}}
