{{set . "title" "Thread"}}
{{set . "class" "thread"}}
{{template "header.html" .}}

{{.flash.error}}

<h1>{{.thread.Topic}}
  <span> {{.thread.User.Name}} on {{formatDate .thread.Created}}</span>
</h1>
{{range .posts}}
  <div class="post{{if eq .User.UserId 2}} mine{{end}}">
    <p><strong>{{.User.Name}}</strong> wrote at {{formatDate .Created}}:</p>
    <p class="body">{{raw .Body}}</p>
  </div>
{{else}}
  <p>No posts yet, create one!</p>
{{end}}

<div class="new clearfix">
  <form method="POST" action="/threads/{{.thread.ThreadId}}/post">
    <textarea name="body" placeholder="Your message"></textarea>
    <input type="submit" value="Post" class="button pull-right">
  </form>
</div>

{{template "footer.html" .}}
