<!DOCTYPE html>
<html>
  <head>
    <title>{{.title}}</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/public/img/favicon.png">
    <link rel="stylesheet" href="/public/css/main.css">
    {{range .moreStyles}}
      <link rel="stylesheet" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" charset="utf-8"></script>
    {{end}}
  </head>
  <body>
    <div class="page">
      <header class="clearfix">
        <h1><a href="/">{{.name}}</a></h1>
        {{template "navigation.html" .}}
      </header>
      <main class="{{.class}}">
