<!DOCTYPE html>
<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </head>
  <body>
    <header>
      <h1>Godisc</h1>
      <nav>
        <ul>
          {{if .user}}
            <li><a href="/threads/new">New thread</a></li>
            <li><a href="/logout">Logout</a></li>
          {{else}}
          {{end}}
        </ul>
      </nav>
    </header>
